@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Inter:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fcf9f9;
}

* > * {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

.input-text {
  @apply mt-1 block w-60 px-3 py-2 bg-white border border-slate-300 rounded-full text-sm shadow-sm placeholder-slate-500;
  @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

.input-post {
  @apply mt-1 block w-60 px-3 py-2 bg-white border border-slate-300 rounded-2xl text-sm shadow-sm placeholder-slate-500;
  @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

.input-forms {
  @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-2xl text-sm shadow-sm placeholder-slate-500;
  @apply focus:outline-none focus:border-sky-300 focus:ring-1 focus:ring-sky-500;
}

.button-form {
  @apply bg-blue-400 px-2 py-1 rounded-lg text-gray-50 text-lg;
  @apply hover:bg-blue-500 hover:transition-all;
}